########################################################################################################################
# .gitmodules
########################################################################################################################


########################################################################################################################
# tmux plugins
#-----------------------------------------------------------------------------------------------------------------------

# https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/tmux-plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
	branch = master

# https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/tmux-plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
	branch = master

# https://github.com/catppuccin/tmux
[submodule "tmux/catppuccin/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux.git
	branch = main

# https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/christoomey/vim-tmux-navigator"]
	path = tmux/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
	branch = master



########################################################################################################################
# vim plugins
#-----------------------------------------------------------------------------------------------------------------------

# https://github.com/catppuccin/vim
[submodule "vim/catppuccin/vim"]
	path = vim/.vim/pack/vendor/start/vim
	url = https://github.com/catppuccin/vim.git
	branch = main

# https://github.com/vim-airline/vim-airline
[submodule "vim/vim-airline/vim-airline"]
	path = vim/.vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master

# https://github.com/vim-airline/vim-airline-themes
[submodule "vim/vim-airline/vim-airline-themes"]
	path = vim/.vim/pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master



########################################################################################################################
# nvim plugins
#-----------------------------------------------------------------------------------------------------------------------

# https://github.com/nvim-lua/kickstart.nvim
# https://github.com/studersi/kickstart.nvim
[submodule "neovim/nvim"]
	path = neovim/.config/nvim
	url = https://github.com/studersi/kickstart.nvim.git
	branch = master



########################################################################################################################
# kitty plugins
#-----------------------------------------------------------------------------------------------------------------------

# https://github.com/catppuccin/kitty
[submodule "kitty/catppuccin/kitty"]
	path = kitty/.config/kitty/themes/kitty
	url = https://github.com/catppuccin/kitty.git
	branch = main
